*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper{
    max-width: 800px;
    display: inline-block;
    border: 1px solid black;
    margin: 10px auto;
}
.cabecera{
height: 100px;
background-color: black;
}

.cabecera #titulo{
    color: white;
    text-align: center;
    padding: 2.5em;
}

#cuerpo{
    display: flex;
}

#sidebar{
    background-color: #9999;
    border: 1px solid black;
    
}

#sidebar div{
    padding: 10px;
}

main .seccionTareas article{
    position: relative;
    border: 1px solid black;
    border-radius: 25px;
    padding: 1em;
    min-width: 250px;
}

main .seccionTareas .diaria{
    background-color: lightblue;
}

main .seccionTareas .mensual{
    background-color: lightgreen;
}

main .seccionTareas .urgente{
    background-color: tomato;
}

main .seccionTareas article>a{
    background-color: red;
    color: white;
    display: inline-block;
    right: 3px;
    bottom: 3px;
    border-radius: 10px;
    position: absolute;
    text-decoration: none;
    transition: 1s;
    border: 1px solid black;
    padding: 2px;
}

main .seccionTareas article>a:hover{
    width: 70px;
    text-align: center;
}

footer{
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1em;
}

